<%-include('../partials/header')%>
	<link rel="stylesheet" type="text/css" href="/css/add.css">
	<%-include('../partials/nav')%>
	<main>
	<h1>Edit <%=show.title%></h1>
	<form action="/series/<%=show._id%>?_method=PUT" method="POST">
		<label>Title: </label>
		<input type="text" name="series[title]" value="<%=show.title%>">
		<label>image: </label>
		<input type="text" name="series[image]" value="<%=show.image%>">
		<label>Price: </label>
		<input type="number" name="series[price]" value="<%=show.price%>">
		<label for="series[catagory]">Catagory: </label>
<select id="catagory" name="series[catagory]">
<option value="pants">Pants</option>
	<option value="shirts">Shirts</option>
</select>	
<label>Description</label>
<textarea name="series[review]"><%=show.review%></textarea>
<button>Edited</button>
	</form>
	</main>
	<%-include('../partials/footer')%>