<%-include('../partials/header')%>
	<link rel="stylesheet" type="text/css" href="/css/order.css">
	<%-include('../partials/nav')%>
    <main>
    <h1>All the Orders</h1>
    <div class="container">
<%orders.forEach((x, i)=>{%>
    <div class="card">
        <h1><%=i+1%>. Name:<%=x.customer%></h1>
        <h4>E-mail: <%=x.user%></h4>
        <address>Address:<%=x.address%> </address>
        <h4>Phone Number : <%=x.phone%></h4>
        <p>Quantity: <%=x.quantity%></p>
        <h3>Payment:<%=x.payment%></h3>
        <h2>Product: <%=x.product.title%></h2>
        <a href="/series/<%=x.product._id%>">Product details</a>
        <button>Delete</button>
        <form action="/order/<%= x._id %>?_method=DELETE" method="POST"
            class="hide">
            <p>Are You sure You wanna delete it</p>
        <button>Yes</button>
        <p class="no">No</button>
        </form>
    </div>
<%})%>
</div>
</main>
    <%-include('../partials/footer')%>